* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --color-primary: rgb(26, 82, 118);
    --color-secondary: white;
    --color-tertiary: rgb(84, 153, 199);
    background-color: rgb(95, 179, 224);
    list-style: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.navbar .logo {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--color-secondary);
}

.navbar a {
    color: var(--color-secondary);
    text-decoration: none;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    font-weight: 600;
}

.navbar .nav-links ul li {
    margin: 0 20px;
    padding: 5px;
}

.navbar .nav-links ul li.plays a {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 20px;
    background-color: var(--color-primary);
    padding: 5px 15px;
}

.navbar .nav-links ul li.ctc a {
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    border-radius: 20px;
    background-color: rgb(17, 122, 101);
    padding: 5px 15px;
}

.navbar .nav-links ul li.plays a:hover {
    background-color: var(--color-tertiary);
}

.navbar .nav-links ul li.ctc a:hover {
    background-color: rgb(22, 160, 133);
}

/* Header */
header {
    text-align: center;
    padding: 150px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    color: var(--color-secondary);
    font-size: 4em;
    margin: 0;
}

header p {
    font-weight: 900;
    color: var(--color-secondary);
    font-size: 1.5em;
    margin: 20px 0;
}

header img {
    position: absolute;
    top: 70%;
    width: 40%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
}

/* Button */
button {
    padding: 10px 30px;
    background-color: var(--color-primary);
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 900;
    color: var(--color-secondary);
    text-align: center;
    text-decoration: none;
    border: none;
    margin: 40px 0;
    cursor: pointer;
}
button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: var(--color-tertiary);
}

/* Responsive Styles */

@media screen and (min-width: 1025px){
    header img {
        width: 50%;
        top: 80%;
    }
}
@media screen and (max-width: 1024px) {
    /* Navbar */
    .navbar .logo {
        font-size: 2em;
    }

    .navbar .nav-links ul {
        font-size: 1.3em;
    }

    .navbar .nav-links ul li {
        margin: 0 10px;
    }

    /* Header */
    header h1 {
        font-size: 3.5em;
    }

    header p {
        font-size: 1.3em;
    }

    header img {
        width: 50%;
        top: 80%;
    }

    /* Button */
    button {
        padding: 8px 25px;
    }
}

@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .navbar .logo {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .navbar .nav-links ul {
        flex-direction: column;
        font-size: 1.2em;
    }

    .navbar .nav-links ul li {
        margin: 10px 0;
    }

    /* Header */
    header h1 {
        font-size: 2.8em;
        margin: 10px 0;
    }

    header p {
        font-size: 1.2em;
    }

    header img {
        width: 60%;
        top: 90%;
    }

    /* Button */
    button {
        padding: 8px 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Navbar */
    .navbar .logo {
        font-size: 1.5em;
    }

    .navbar .nav-links ul li {
        font-size: 1.1em;
    }

    /* Header */
    header h1 {
        font-size: 2.5em;
        margin: 15px 0;
    }

    header p {
        font-size: 1.1em;
    }

    header img {
        width: 70%;
        top: 90%;
    }

    /* Button */
    button {
        padding: 8px 15px;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 360px){
    header img {
        width: 70%;
        top: 90%;
    }
}
